*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    border-bottom: 1px solid rgb(209, 209, 209);
}

.container{
    width:100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0.1rem;
}
#headertop{
    background-color: rgb(230, 224, 224);
    color: rgb(109, 108, 108);
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    padding: 0rem;
    font-size: 0.75rem;
}
#headertop .container{
    display: flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    
}
#headerbottom{
    padding: 1rem 0;
    
}
#headerbottom .container{
    display : flex;
    flex-direction : row;
    justify-content :space-between;
    align-items : center;
   
}
#logoimage{
    width: 2.5rem;
}
#logo{
    display : flex;
    flex-direction : row;
    align-items : center;
    gap:0.25rem;
    font-weight: 700; 
}
#headerlinks{
    display : flex;
    flex-direction : row;
    align-items: center;
    gap:1rem; 
}
#headerlinks a {
    color: rgb(95, 94, 94);
}
.headerlink{
    position: relative;
}

.count{
    font-size: 0.75rem;
    background-color: orange;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction : row;
    align-items : center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top:0;
    right:0;
    translate:40% -40%;
}
#menubutton{
    margin-left:0.5rem;
    background-color: transparent;
    border: none;
}
#english{
    display: none;
}
#headercategory{
    display: none;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #headertop .container{
        justify-content: space-between;
    }
    #english{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:0.25rem;
    }
    #flag{
       width: 1.5rem;
       
    }
    
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    #menubutton{
        display: none;

    }
    #headercategory{
        display: flex;
        
    }
    #debutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        background-color: rgb(16, 173, 16);
        color: white;
        border-radius: 0.25rem;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}